.vs/Dependancy-Injection/FileContentIndex/6ce50846-c743-4a6e-bfc6-094c4271829f.vsidx
.vs/Dependancy-Injection/v17/.wsuo
.vs/Dependancy-Injection/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
