*
!.gitignore

# Allow the whole path down to the target folder
!Dependency Injection/
!Dependency Injection/Assets/
!Dependency Injection/Assets/Dependancy Injection System/
!Dependency Injection/Assets/Dependancy Injection System/**/*
