# Ignore everything
*

# Don't ignore .gitignore itself
!.gitignore

# Don't ignore the folder
!Dependancy Injection System/

# Don't ignore everything inside it (files and subfolders)
!Dependancy Injection System/**/*